@font-face {
	font-family: WorkSans;
	src: url("https://s3.amazonaws.com/codecademy-content/courses/learn-css-grid/project-ii/Resources/Work_Sans/WorkSans-Regular.ttf");
}

@font-face {
	font-family: Poppins;
	src: url("https://s3.amazonaws.com/codecademy-content/courses/learn-css-grid/project-ii/Resources/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6Mk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body, html {
		background-image: url(https://s3.amazonaws.com/codecademy-content/projects/armando-perez/brand.jpg);
		height: 100%;
		margin: 0;
		background-repeat: no-repeat;
		background-position: center;
  	background-size: cover;
		position: relative;
}

.main-container {
	min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
}

.header {
		background-color: rgba(255,250,250,0.9);
		border-bottom: 2px solid #FF1493;
		box-shadow: 0px 1px 20px 0px #888888;
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}

.title {
	margin-left: 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 300px;
}

.title h1{
	font: 2em 'Pacifico', Helvetica, sans-serif;
	font-weight:bold;
	color: #FF1493;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.8);
}

.fa {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border:2px solid #ddd; /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
		margin:2px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.media {
display:flex;
flex-wrap: nowrap;
}

.navbar {
	display:flex;
	flex-wrap: nowrap;
	text-transform: uppercase;
	font-family: Poppins;
	font-size: 1.2em;
	margin-right: 10%;
}

.navbar ul {
	display:flex;
	flex-wrap: nowrap;
}

li {
    display:inline-block;
}

 li a {
    color: #9370DB;
    margin: 10px;
		text-decoration: none;
}

.hover {
	  transition: .1s ease;
    color: #FF1493;
}

.active {
    color: #FF1493;
		text-decoration: underline;
}


.main {
	background-color: white;
	border: 2px solid #FF1493;
	width: 65%;
	margin:7% auto;
	padding:2% 2%;
}

.main h1 {
	color: #FF1493;
	font-family: Poppins;
	font-size: 2em;
	padding: 0.4em;
	text-align: center;
	margin-bottom: 10px;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
		flex-wrap: wrap;
}

.item {
    padding: 5px;
}

.item img {
    height:100%;
		width: 100%;
}

.img-title {
	display: none;
	position: absolute;
	font-size: 1.2em;
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	width:80%;
}

.image {
  position: relative;
  text-align: center;
	height: 16em;
	width: 20em;
	margin: 20px;
	border: 1px solid #FF1493;
}

.opacity {
	filter: brightness(20%);
}

.item span {
    display: block;
    padding: 5px;
		color: #FF1493;
		font-family: Poppins;
		font-size: 1.2em;
    text-align: center;
}

.footer {
position: absolute;
width: 100%;
bottom: 0;
}

.copyright {
	color: #FF1493;
	margin: auto;
	text-align: center;
}

@media screen and (max-width: 960px) {


	.site-body {
		width: 50rem;
	}

	.container {
	  grid-template-columns: auto auto;
		grid-gap: 20px;
	}

	.container .image {
	  height: 275px;
	}

	.header .container {
		display: inline-block;
		padding: 1em;
		width: 100%;
	}

	.title {
		margin-left: 5%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 300px;
		margin: 0 auto;
	}

	.navbar {
		width:500px;
		margin: 0 auto;
	}

	.footer {
	display: none;
	}

	.banner p {
		color: #FF1493;
		width: 35%;
		font-family: Georgia, serif;
		float:right;
		line-height: 1.45;
		font-style: italic;
		font-size: 1.3em;
		margin-right: 15%;
		margin-top: 15%;
		position: relative;
	}

}

@media screen and (max-width: 700px) {

	 .image {
	  height: 12em;
		width: 16em;
	}

	.copyright {
		font-size: 0.6rem;
	}

	.header .container {
		display: inline-block;
		padding: 1em;
		width: 100%;
	}

	.title {
		margin-left: 5%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 300px;
		margin: 0 auto;
	}

	.navbar {
		width:400px;
		margin: 0 auto;
	}

	.banner h1 {
		font-size: 3rem;
  }

	.banner p {
		color: #FF1493;
		width: 45%;
		font-family: Georgia, serif;
		float:right;
		line-height: 1.45;
		font-style: italic;
		font-size: 1em;
		margin-right: 15%;
		margin-top: 20%;
		position: relative;
	}

	.footer {
	display: none;
	}

}

@media screen and (max-width: 470px) {

	.main {
		background-color: white;
		margin:7% auto;
		padding:2% 2%;
	}

	.image {
	  height: 10em;
		width: 14em;
	}

	.header .container {
		display: inline-block;
		padding: 1em;
		width: 100%;
	}

	.title {
		margin-left: 5%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 300px;
		margin: 0 auto;
	}

	.title h1{
		font: 1.4em 'Pacifico', Helvetica, sans-serif;
		font-weight:bold;
		color: #FF1493;
		text-shadow: 1px 1px 0px rgba(0,0,0,0.8);
	}

	.navbar {
		width:400px;
		margin: 0 auto;
	}

	.banner h1 {
		color: #FF1493;
		display: block;
		text-align: right;
		font-family: Poppins;
		font-size: 3em;
		margin-right: -20%;
		padding: 0.2em;
		opacity: 0;
		position: relative;
	}

	.banner p {
		color: #FF1493;
		width: 70%;
		font-family: Georgia, serif;
		float:right;
		line-height: 1.45;
		font-style: italic;
		font-size: 1em;
		margin-right: 10%;
		margin-top: 25%;
		position: relative;
	}

	.footer {
	display: none;
	}

}

@media screen and (max-width: 360px) and (orientation: portrait) and (min-resolution: 3dppx) {

	.site-body {
		width: 15rem;
	}

	.container {
	  grid-template-columns: auto;
	}

	.container .image {
	  height: 150px;
	}

	.header .container {
		display: inline-block;
		padding: 1em;
		width: 100%;
	}

	.title {
		margin-left: 5%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 300px;
		margin: 0 auto;
	}

	.title h1{
		font: 1.4em 'Pacifico', Helvetica, sans-serif;
		font-weight:bold;
		color: #FF1493;
		text-shadow: 1px 1px 0px rgba(0,0,0,0.8);
	}

	.navbar {
		width:400px;
		margin: 0 auto;
	}

	.banner h1 {
		color: #FF1493;
		display: block;
		text-align: right;
		font-family: Poppins;
		font-size: 2em;
		margin-right: -20%;
		padding: 0.2em;
		opacity: 0;
		position: relative;
	}

	.banner p {
		color: #FF1493;
		width: 70%;
		font-family: Georgia, serif;
		float:right;
		line-height: 1.45;
		font-style: italic;
		font-size: 1em;
		margin-right: 10%;
		margin-top: 25%;
		position: relative;
	}

	.footer {
	display: none;
	}

}
